spring:
  application:
    name: hypercharge-batch
  profiles:
    include:
      - domain
  batch:
    job:
      enabled: false
    jdbc:
      initialize-schema: always

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.springframework.batch: INFO
